<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>My</filter-name>
        <filter-class>MyFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>My</filter-name>
        <url-pattern>/display</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>cal</servlet-name>
        <servlet-class>cal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>display</servlet-name>
        <servlet-class>display</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cal</servlet-name>
        <url-pattern>/cal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
